@page "/manage-tasks"
@using FamilyTask.Components

@using FamilyTask.Shared.Components

@inherits ManageTasksBase

@if (isLoaded)
{
    <div class="page-wrapper row m-0 col-12 p-0">
        <div class="col-4 p-0">
            <LeftMenu MenuItems="@leftMenuItem.ToArray()" OnAddItem="@OnAddItem" />
        </div>
        <div class="col-8 p-0">
            @if (showLister)
            {
                <div class="col-10 offset-1 pt-5">
                    <div class="row m-0">
                        <Field class="col-9 p-0 custom-input">
                            <TextEdit @bind-Text="@task.Text" Placeholder="Enter New Task" />
                        </Field>
                        <div class="col-3 p-0 text-right">
                            <Button class="add-btn px-4" @onclick="@onAddClick">Add</Button>
                        </div>
                    </div>
                </div>
                <div class="col-10 offset-1">
                    @if (@tasksToShow != null)
                    {
                        <TaskListerComponent Tasks="@tasksToShow" />
                    }
                </div>
            }
            @if (showCreator)
            {
                <div class="col-10 offset-1 pt-5">
                    <FamilyMemberCreator onAddCallback="@onMemberAdd" />
                </div>
            }
        </div>
    </div>
}


@code {

    private TaskModel task = new TaskModel();

    private async void onAddClick()
    {
        await onTaskAdd(task);
    }

}